{% style %}
  [data-section-id="{{ section.id }}"] {
    margin-top: {{ section.settings.margin_top_mb }}px;
    margin-bottom: {{ section.settings.margin_bottom_mb }}px;
  }

  @media(min-width: 1024px) {
    [data-section-id="{{ section.id }}"] {
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{% endstyle %}
<div class="page-width">
  <div class="flex items-center justify-center w-full relative h-12 lg:h-28 min-h-fit">
    {% if section.settings.banner != blank %}
      <img srcset="{%- if section.settings.banner.width >= 180 -%}{{ section.settings.banner | image_url: width: 180 }} 180w,{%- endif -%}
        {%- if section.settings.banner.width >= 360 -%} {{ section.settings.banner | image_url: width: 360 }} 360w,{%- endif -%}
        {%- if section.settings.banner.width >= 540 -%} {{ section.settings.banner | image_url: width: 540 }} 540w,{%- endif -%}
        {%- if section.settings.banner.width >= 720 -%} {{ section.settings.banner | image_url: width: 720 }} 720w,{%- endif -%}
        {%- if section.settings.banner.width >= 900 -%} {{ section.settings.banner | image_url: width: 900 }} 900w,{%- endif -%}
        {%- if section.settings.banner.width >= 1080 -%} {{ section.settings.banner | image_url: width: 1080 }} 1080w{%- endif -%}"
        src="{{ section.settings.banner | image_url: width: 700 }}"
        sizes="(min-width: 1100px) 900px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
        alt="{{ altDt }}"
        loading="eager"
        class="absolute top-0 left-0 w-full h-full object-cover transition-all"
        width="{{ section.settings.banner.width }}"
        height="{{ section.settings.banner.height }}">
    {% endif %}
    <h1 class="text-[30px] md:text-[40px] lg:text-[60px] text-background uppercase text-center relative">{{ collection.title }}</h1>
  </div>
</div>
{% schema %}
  {
    "name": "Collection banner",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "banner",
        "label": "Banner"
      }
    ],
    "presets": [
      {
        "name": "Collection banner"
      }
    ]
  }
{% endschema %}