<link rel="stylesheet" href="{{ 'facet.css' | asset_url }}">

{% paginate collection.products by section.settings.products_per_page %}
  <div
    class="page-width flex flex-wrap gap-8 py-8 lg:pt-9 lg:pb-16"
    data-id="{{ section.id }}"
    id="ProductGridContainer">
    {% render 'facet'
      , results: collection %}
    <div
      class="w-full transition-all duration-500 max-w-full lg:max-w-[calc(75%_-_16px)] overflow-hidden"
      data-total-pages="{{ paginate.pages }}"
      data-pagination="{{ products_per_page }}"
      data-current-page="{{ paginate.current_page }}"
      id="product-grid">
      <div class="pb-4 facet-mobile flex flex-wrap gap-3 items-center justify-between lg:mx-0 lg:mt-0 transition-all duration-200 bg-background">
        <div class="flex items-end gap-1.5">
          <div id="ProductCount" class="viewing-currently-product pl-2 text-sm text-subtext lg:pl-0 lg:text-base">
            {% liquid
              assign products_count = paginate.current_page | times: section.settings.products_per_page
              if products_count > paginate.items
                assign products_count = paginate.items
              endif
            %}
            {{ 'sections.collection_template.current_view_count_html' | t: all_products_count: paginate.items, products_count: products_count }}
          </div>
        </div>
        <toggle-filter class="px-3 py-1.5 lg:py-2 shadow-sm focus:outline-none text-sm text-center lg:text-base lg:px-6 lg:hidden btn-secondary">
          <button class="block">Filter & Sort</button>
        </toggle-filter>
      </div>
      <div id="main-collection-product" class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 transition-all duration-500 gap-4 overflow-hidden">
        {% assign listIncludeProduct = '' %}
        {% assign count = 0 %}
        {% if collection.products.size > 0 %}
          {% for product in collection.products %}
            {% assign count = count | plus: 1 %}
            {% if count > 4 %}
              {% assign lazy_load = 'lazy' %}
            {% else %}
              {% assign lazy_load = 'eager' %}
            {% endif %}

            {%- render 'product-card', product: product, lazy_load: lazy_load, heading: 'h2' -%}
          {% endfor %}
        {% else %}
          <div class="col-span-2 md:col-span-3 lg:col-span-4 bg-background py-3 lg:p-10">
            <div class="text-center p-6 lg:py-20 rounded-2xl bg-background max-w-full mx-auto">
              <span class="block text-center text-primary text-h5 lg:text-h4 mb-1 font-heading">{{ 'products.facets.empty_heading' | t }}</span>
              <span class="block text-center text-primary text-sm leading-5 lg:text-base lg:leading-6 font-normal max-w-[263px] lg:max-w-[386px] mx-auto mb-4 lg:mb-6">{{ 'products.facets.empty_description' | t }}</span>
              <a
                href="{{ collection.url }}"
                title="{{ 'products.facets.clear_all' | t }}"
                class="block mx-auto w-fit btn-primary btn-secondary px-6 lg:px-8 py-3.5 text-sm leading-none uppercase lg:text-base lg:leading-none !font-heading !font-bold">
                {{ 'products.facets.clear_all' | t }}
              </a>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="flex flex-col justify-center items-center gap-4 mt-8 lg:mt-12{% if paginate.pages <= 1 %} !hidden{% endif %}">
        {% render 'pagination'
          , paginate: paginate %}
      </div>
    </div>
  </div>
{% endpaginate %}

{% capture facet %}{{ 'facet.js' | asset_url }}{% endcapture %}
{% render 'atom_script'
  , src: facet
  , priority: 'normal'
  , type: "defer" %}

{% schema %}
  {
    "name": "Collection",
    "settings": [
      {
        "type": "header",
        "content": "Poster"
      }, {
        "type": "image_picker",
        "id": "poster",
        "label": "Poster"
      }, {
        "type": "url",
        "id": "poster_url",
        "label": "Poster url"
      }, {
        "type": "range",
        "id": "products_per_page",
        "min": 8,
        "max": 50,
        "step": 1,
        "default": 20,
        "label": "Product per page"
      }
    ]
  }
{% endschema %}