{% style %}
  [data-section-id="{{ section.id }}"] {
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }
  @media (min-width: 1024px) {
    [data-section-id="{{ section.id }}"] {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<div class="page-width !max-w-[1152px]" data-section-id="{{ section.id }}">
  <tabs-component class="block relative">
    <div class="tabs-heading grid grid-cols-2 lg:grid-cols-4 gap-x-5 lg:gap-y-6 lg:gap-x-6 gap-y-2">
      {% for block in section.blocks %}
        <div class="tab-heading rounded w-full px-4 py-2 text-primary border border-primary bg-background cursor-pointer [&.active]:bg-primary [&.active]:text-background [&.active]:cursor-default transition-all duration-200 flex items-center justify-center gap-1{% if forloop.first %} active{% endif %}" data-id="{{ block.id }}">
          {% if block.settings.icon == 'order' %}
            {% render 'icon-order-hc', class: 'w-5 h-5 lg:w-6 lg:h-6' %}
          {% elsif block.settings.icon == 'return' %}
            {% render 'icon-return-hc', class: 'w-5 h-5 lg:w-6 lg:h-6' %}
          {% elsif block.settings.icon == 'shipping' %}
            {% render 'icon-shipping-hc', class: 'w-5 h-5 lg:w-6 lg:h-6' %}
          {% elsif block.settings.icon == 'product' %}
            {% render 'icon-product-hc', class: 'w-5 h-5 lg:w-6 lg:h-6' %}
          {% elsif block.settings.icon == 'sizes' %}
            {% render 'icon-size-hc', class: 'w-5 h-5 lg:w-6 lg:h-6' %}
          {% elsif block.settings.icon == 'account' %}
            {% render 'icon-account-hc', class: 'w-5 h-5 lg:w-6 lg:h-6' %}
          {% elsif block.settings.icon == 'card' %}
            {% render 'icon-gift-hc', class: 'w-5 h-5 lg:w-6 lg:h-6' %}
          {% elsif block.settings.icon == 'deal' %}
            {% render 'icon-deal-hc', class: 'w-5 h-5 lg:w-6 lg:h-6' %}
          {% endif %}
          <span class="text-base lg:text-lg leading-2">{{ block.settings.blog.title }}</span>
        </div>
      {% endfor %}
    </div>
    <div class="tabs-detail mt-8 lg:mt-12">
      {% for block in section.blocks %}
        <div class="tab-detail{% unless forloop.first %} hidden{% endunless %}" data-id="{{ block.id }}">
          {% for article in block.settings.blog.articles %}
            <accordion-toggle class="block relative group cursor-pointer border-b border-border py-6 first:pt-0 last:border-b-0 last:pb-0">
              <div class="summary flex items-center justify-between gap-2.5 w-full font-medium text-base leading-4 text-primary">
                <span>{{ article.title }}</span>
                {% render 'icon-down', class: 'w-5 h-5 lg:w-6 lg:h-6 group-[&.active]:rotate-180' %}
              </div>
              <div class="details w-full max-w-full pr-10 text-base">
                {{ article.content }}
              </div>
            </accordion-toggle>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </tabs-component>
</div>

{% schema %}
  {
    "name": "Help center",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Pading desktop"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Pading top",
        "default": 16
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Pading bottom",
        "default": 16
      }, {
        "type": "header",
        "content": "Pading mobile"
      }, {
        "type": "range",
        "id": "padding_top_mb",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Pading top",
        "default": 16
      }, {
        "type": "range",
        "id": "padding_bottom_mb",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Pading bottom",
        "default": 16
      }
    ],
    "blocks": [
      {
        "type": "faq",
        "name": "Question and answer",
        "settings": [
          {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
          },
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "default": "order",
            "options": [
              {
                "value": "order",
                "label": "Order"
              },
              {
                "value": "return",
                "label": "Return"
              },
              {
                "value": "shipping",
                "label": "Shipping"
              },
              {
                "value": "product",
                "label": "Product"
              },
              {
                "value": "sizes",
                "label": "Sizes"
              },
              {
                "value": "account",
                "label": "Account"
              },
              {
                "value": "card",
                "label": "Card"
              },
              {
                "value": "deal",
                "label": "Deal"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Help center"
      }
    ]
  }
{% endschema %}