<link rel="stylesheet" href="{{ 'template-contact.css' | asset_url }}" />

{% style %}
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background_color != blank -%}background-color: {{ section.settings.background_color }};{%- endif -%}
    margin-top: {{ section.settings.margin_top_mb }}px;
    margin-bottom: {{ section.settings.margin_bottom_mb }}px;
  }

  @media (min-width: 1024px) {
    #shopify-section-{{ section.id }} {
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{% endstyle %}

<div class="relative contact-tab normal-tab page-width grid-cols-1 col-span-1 grid-cols-2 col-span-2 grid-cols-3 col-span-3 lg:grid-cols-1 lg:col-span-1 lg:grid-cols-2 lg:col-span-2 lg:grid-cols-3 lg:col-span-3 lg:grid-cols-1 lg:col-span-1 lg:grid-cols-2 lg:col-span-2 lg:grid-cols-3 lg:col-span-3 lg:grid-cols-4 lg:col-span-4 lg:grid-cols-5 lg:col-span-5 lg:grid-cols-6 lg:col-span-6 lg:grid-cols-7 lg:col-span-7 lg:grid-cols-8 lg:col-span-8  data-section-id="{{ section.id }}" id="contact-section">
  <div class="grid gap-16 lg:gap-24 grid-cols-{{ section.settings.col_per_row_mobile }} lg:grid-cols-{{ section.settings.col_per_row_desktop }}">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'contact-form' %}
          <div data-id="{{ section.id }}-{{ block.id }}" class="relative overflow-hidden tab-detail bg-background w-full col-span-{{ block.settings.col_span_mobile }} lg:col-span-{{ block.settings.col_span_desktop }}">
            <validate-form class="block">
              {%- form 'contact', novalidate: 'novalidate' -%}
                {%- if form.errors -%}
                  <div class='p-3 border border-error-opacity-30 bg-error-opacity-30 text-error rounded-lg my-6 lg:my-5'>
                    <p class="text-xs leading-5 font-medium">{{ 'templates.contact.form.error_heading' | t }}</p>
                    <ul class='px-4 mb-3 list-decimal list-inside'>
                      {%- for error in form.errors -%}
                        <li class="font-normal text-xs leading-5">{{ form.errors.messages[error] }}</li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- elsif form.posted_successfully? -%}
                  <modal-dialog id="contact-successfull" class="transition-all absolute w-full h-full bg-background top-0 left-0 z-20">
                    <div class="w-full h-full text-primary text-sm leading-5 lg:text-base lg:leading-6 font-normal p-4 lg:p-12 flex items-center flex-col justify-center">
                      {% render 'icon-success-message', class: "block w-16 h-16 lg:w-[88px] lg:h-[88px] mb-4 lg:mb-5" %}
                      <div class="text-h4 lg:text-h3 text-center font-semibold font-heading mb-3 max-w-[402px] mx-auto">{{ 'templates.contact.form.post_success_heading' | t }}</div>
                      <p class="text-sm leading-5 lg:text-base lg:leading-6 text-center mb-4 lg:mb-6 max-w-[438px] mx-auto">{{ 'templates.contact.form.post_success' | t }}</p>
                      <button type="button" class="btn-primary btn-secondary !uppercase py-3.5 max-w-[360px] close w-full mx-auto" >{{ 'templates.contact.form.continue_submit' | t }}</button>
                    </div>
                  </modal-dialog>
                {%- endif -%}

                <div class="flex flex-wrap">
                  <div class="w-full mb-6 lg:mb-5 leading-none">
                    <label class="text-base font-normal leading-4 font-heading text-primary mb-2 block" for="contact_name">{{ 'templates.contact.form.name' | t }}</label>
                    <input
                      class="border border-border focus:border-subtext hover:border-subtext active:border-subtext !ring-0 font-normal border-solid w-full text-base leading-4 px-3 py-3 rounded-lg"
                      placeholder="{{ 'templates.contact.form.name_placeholder' | t }}"
                      id="contact_name"
                      name="contact[name]"
                      data-name="name"
                      type="text">
                  </div>
                  <div class="w-full mb-6 lg:mb-5 leading-none">
                    <label class="text-base font-normal leading-4 font-heading text-primary mb-2 block" for="contact_email">{{ 'templates.contact.form.email' | t }}</label>
                    <input class="border border-border focus:border-subtext hover:border-subtext active:border-subtext !ring-0 font-normal border-solid w-full text-base leading-4 px-3 py-3 rounded-lg"
                      id="contact_email"
                      placeholder="{{ 'templates.contact.form.email_placeholder' | t }}"
                      name="contact[email]"
                      data-name="email"
                      type="email">
                  </div>
                </div>
                <div class="w-full mb-6 lg:mb-10 leading-none">
                  <label class="text-base font-normal leading-4 font-heading text-primary mb-2 block" for="contact_message">{{ 'templates.contact.form.comment' | t }}</label>
                  <textarea class="resize-none h-16.5 lg:h-19 border border-border focus:border-subtext hover:border-subtext active:border-subtext !ring-0 font-normal border-solid w-full text-base leading-4 px-3 py-3 rounded-lg" 
                    placeholder="{{ 'templates.contact.form.comment_placeholder' | t }}"
                    id="contact_message" 
                    data-name="body"
                    name="contact[body]"></textarea>
                </div>
                <button class="btn-primary px-6 lg:px-12 flex items-center justify-center h-10.5 lg:h-12.5 !font-heading !font-bold !text-base !leading-none lg:!text-base lg:!leading-none !uppercase w-full" type="submit" value="{{ 'templates.contact.form.send' | t }}">
                  Submit
                </button>
              {%- endform -%}
            </validate-form>
          </div>
        {% when 'contact-info' %}
          <div data-id="{{ section.id }}-{{ block.id }}" class="relative overflow-hidden tab-detail bg-background w-full col-span-{{ block.settings.col_span_mobile }} lg:col-span-{{ block.settings.col_span_desktop }}">
            {%- if block.settings.title != blank -%}
              <{{ block.settings.heading_tag }} class="text-xl lg:text-2xl font-medium text-heading text-primary mb-5">
                {{ block.settings.title }}
              </{{ block.settings.heading_tag }}>
            {%- endif -%}
            {%- if block.settings.description != blank -%}
              <div class="hidden lg:block text-sm leading-5 font-normal text-[#5D6470] lg:text-base lg:leading-6 text-left">
                {{ block.settings.description }}
                </div>
            {%- endif -%}

            {% if block.settings.phone != blank %}
              <div class="flex items-center gap-1 text-sm leading-5 lg:text-base lg:leading-6 text-[#5D6470]">
                <span>{% render 'icon-phone', class: 'w-8 h-8' %}</span>
                <a href="tel: {{ block.settings.phone }}">{{ block.settings.phone }}</a>
              </div>
            {% endif %}
            {% if block.settings.email != blank %}
              <div class="flex items-center gap-1 text-sm leading-5 lg:text-base lg:leading-6 text-[#5D6470]">
                <span>{% render 'icon-email', class: 'w-8 h-8' %}</span>
                <a href="tel: {{ block.settings.phone }}">{{ block.settings.email }}</a>
              </div>
            {% endif %}
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</tabs-component>

{% capture helpCenter %}{{ 'template-contact.js' | asset_url }}{% endcapture %}
{% render 'atom_script', src: helpCenter, priority: 'normal', type: "defer" %}

{% schema %}
  {
    "name": "Template contact",
    "tag": "section",
    "settings": [
      {
        "type": "range",
        "id": "col_per_row_mobile",
        "label": "Cols per row mobile",
        "min": 1,
        "max": 3,
        "default": 3,
        "step": 1
      },
      {
        "type": "range",
        "id": "col_per_row_desktop",
        "label": "Cols per row desktop",
        "min": 1,
        "max": 8,
        "default": 1,
        "step": 1
      },
      {
        "type": "header",
        "content": "Margin desktop"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 16
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 16
      },
      {
        "type": "header",
        "content": "Margin mobile"
      },
      {
        "type": "range",
        "id": "margin_top_mb",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 16
      },
      {
        "type": "range",
        "id": "margin_bottom_mb",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 16
      }
    ],
    "blocks": [
      {
        "type": "contact-info",
        "name": "Contact info",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Get in Touch with Us"
          },
          {
            "type": "select",
            "id": "heading_tag",
            "label": "Heading tag",
            "default": "h2",
            "options": [
              {
                "value": "h1",
                "label": "Heading 1"
              },
              {
                "value": "h2",
                "label": "Heading 2"
              },
              {
                "value": "h3",
                "label": "Heading 3"
              },
              {
                "value": "h4",
                "label": "Heading 4"
              },
              {
                "value": "h5",
                "label": "Heading 5"
              }
            ]
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "text",
            "id": "phone",
            "label": "Phone"
          },
          {
            "type": "text",
            "id": "email",
            "label": "Email"
          },
          {
            "type": "header",
            "content": "Col span"
          },
          {
            "type": "range",
            "id": "col_span_mobile",
            "label": "Cols span mobile",
            "min": 1,
            "max": 3,
            "default": 1,
            "step": 1
          },
          {
            "type": "range",
            "id": "col_span_desktop",
            "label": "Cols span desktop",
            "min": 1,
            "max": 8,
            "default": 1,
            "step": 1
          }
        ]
      },
      {
        "type": "contact-form",
        "name": "Contact form",
        "settings": [
          {
            "type": "header",
            "content": "Col span"
          },
          {
            "type": "range",
            "id": "col_span_mobile",
            "label": "Cols span mobile",
            "min": 1,
            "max": 3,
            "default": 1,
            "step": 1
          },
          {
            "type": "range",
            "id": "col_span_desktop",
            "label": "Cols span desktop",
            "min": 1,
            "max": 8,
            "default": 1,
            "step": 1
          }
        ],
        "limit": 1
      }
    ],
    "presets": [
      {
        "name": "Template contact"
      }
    ]
  }
{% endschema %}